{% extends "index.html" %}
{% block start %}


<div class="container mt-4">
    <div class="row">
        {% for c in subjects %}

        <div class="col-lg-4 mt-3">
            <div class="card shadow">
                <img src="/media/{{c.subject_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    {% if c.is_premium %}
                    <span class="badge badge-success">Premium</span>
                    {% else %}
                    <span class="badge badge-danger">Free</span>

                    {% endif %}

                  <a href="#"><h5>{{c.subject_name}}></h5></a>
                  <p class="#">{{c.subject_description |safe}}</p>

                  <a href="{% url 'subject' c.slug %}" class="btn btn-primary">View Subject</a>

                </div>
            </div>
            
        </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}