{% extends 'signup.html' %}
{% block title %}Reset Password Page{% endblock title %}
{% block content %}
<form action="" method="POST" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %} 
    {% for error in form.non_field_errors %} 
      {{error}} 
    {% endfor %} 
    {% endif %}

    {% for fm in form %} <p class="{{fm.as_tag}}" >{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p> {% endfor form %} 
    <input type="submit" value="Save">
</form>
<a href="{% url 'profile' %}">Profile</a>
<a href="{% url 'signout' %}">Signout</a>
{% endblock content %}